.container_wrapper_2 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    float: left;
    width: 100%;
    padding: 30px 0;
    position: relative;
    background-position: center center;
    background-repeat: repeat;
    z-index: 5;
    margin-top: -2px;
    background-image: url("https://dk-media.s3.amazonaws.com/media/1z3x0/template/attachments/36685473/bg70.png");
    background-color: #f7f3e4;
}

.container_wrapper_1 {

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;

}

.sidebar {


    padding: 0 10px;
    /* width: 940px; */
    margin-bottom: -30px;
}

.container_wrapper {

    margin: 0 auto;
    width: 60%;
}
/* 
.sidebar_1 {


    background: transparent;
    display: inline-block;
    margin-right: 30px;
    width: 330px;
} */

.content {
    float: right;
    padding: 0;
    margin-bottom: 30px;
    width: 580px;
}

.p_img {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    text-align: left;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0 0 .85em 0;
}

.box_content_body {

    text-align: left;
}

.box_body-inner_2 {

    overflow: hidden;
}

.box_content_header {

    z-index: 0;
}

.box_content_header_inner {

    padding: 1em 1em 0 1em;
}

.box_234 {

    background: transparent;
    display: block;
    position: relative;
    z-index: 0;
    margin-bottom: 50px;
}

.hgroup_outer {


    margin-top: -0.7em;
    padding-top: .7em;
    margin-left: -0.7em;
    padding-left: .7em;
    margin-bottom: -0.7em;
    padding-bottom: .7em;
}

.outer_title {

    display: block;
    font-size: 110%;
    border-bottom: 2px solid #F7F3E4;
    padding-bottom: 1em;
}

.box_note_icon {
    color: #E19622;
    background: transparent;
    font-family: 'doodlepic';
    font-weight: normal;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-style: normal !important;
    font-size: 120%;
}

.btt {
    line-height: 1.2;
    font-weight: normal;
    color: #E19622;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

.inner_box {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    margin: 0;
    padding-left: 10px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #ECE2CE;

}



.box_content_headers_bg_outer {


    display: none;
    overflow: hidden;
}

.box_content_headers_bg_fade {


    z-index: 0;
}

.content_inner {

    margin: 0;
    /* padding: 0; */
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background: #ffffff;
}

.inner_body_p {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0 0 .85em 0;
}

.speaker {


    font: normal 16px/22px Verdana, Geneva, sans-serif;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1.2;
    font-weight: normal;
    vertical-align: middle;
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
    color: #4c4640;
    text-align: left;
    margin: 0;
    padding: 0;
}

.speaker_text {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    color: #584f47;
    line-height: 1.2;
    font-weight: normal;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.speaker_name {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    color: #584f47;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: .5em;
    vertical-align: middle;
    font-size: 1.6em;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}

.submission_message {
    border-collapse: collapse;
    border-spacing: 0;
    background: transparent;
    height: 15em;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    outline: none;
    color: #584F47;
}

.contact_table {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 .85em 0;
    float: left;
    margin-left: -0.5em;
    width: 100%;
}

.content_body {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    z-index: 0;
    overflow: visible;
}

.content_body_inner {

    padding: 1em 1em .2em 1em;
}

.content_body_inner_2 {


    overflow: hidden;
}

.col_1 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    padding-left: .5em;
    vertical-align: top;
    text-align: inherit;
    padding-top: .2em;
    padding-bottom: .2em;
    max-width: 40%;
}

.col_2 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    padding-left: .5em;
    vertical-align: top;
    text-align: inherit;
    padding-top: .2em;
    padding-bottom: .2em;
}

.col_label {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    padding: .3em 0 0 0;
    text-align: left;
    font-weight: bold;
}

.col_input {
    border-collapse: collapse;
    border-spacing: 0;
    outline: none;
    padding: .3em .6em;
    text-decoration: none !important;
    float: left;
    margin: 0;
    text-align: center;
    vertical-align: inherit;
    background: #584F47;
    font-size: 100%;
    border: 0px;
    font-family: inherit;
    box-sizing: border-box;
    color: #F7F3E4;
}

.email_input {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: .3em .5em;
    margin: 0;
    outline: none;
    max-width: 450px;
    background: #F7F3E4;
    color: #584F47;
    border: 0;
}
