.formatter{
  border: 0;
outline: 0;
vertical-align: baseline;
background: #fff;
background-attachment: fixed;
color: #666;
font: normal 16px/22px Verdana, Geneva, sans-serif;
font-size: 62.5%;
margin: 0;
padding: 0;
background-position: center center;
background-repeat: repeat;
background-image: url("https://dk-media.s3.amazonaws.com/media/1z3x0/template/attachments/30864594/bg90.png");
background-color: #F7F4EA;
font-family: Verdana, Geneva, sans-serif;
}
