font: normal 16px/22px Verdana, Geneva, sans-serif;
font-family: Verdana, Geneva, sans-serif;
line-height: 1.5;
color: #584f47;
list-style: none;
margin: 0;
padding: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
z-index: 0;
position: relative;
overflow: hidden;
border: none;
display: block;
float: left;


font: normal 16px/22px Verdana, Geneva, sans-serif;
font-family: Verdana, Geneva, sans-serif;
padding: 0;
margin: 0;
width: 100%;
border: 0;
outline: 0;
line-height: 1.5;
color: #584f47;
list-style: none;
font-size: 100%;
vertical-align: baseline;
background: transparent;